.DS_Store
*.pyc
__pycache__/
dist/
snaky.egg-info/
.out/**
out/**
.venv/**
snaky/**
Material_snaky/*.npy
!Material_snaky/compile*.npy
src_snaky/out/**
DATA_SET/**
compute_ccf/**
gen_dataset.py
.vscode
.zed
